<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdhlife.mapper.GoodsMapper">


    <select id="findGoodsList" resultType="com.bdhlife.entity.Goods">
        select
        spu_id as spuId,
        name as name,
        title as title,
        state as state,
        description as description
        from
        tb_goods_shangp
        <where>
            <if test="goodsId != null and goodsId != '' ">
                and spu_id = #{spuId}
            </if>
        </where>
    </select>

    <insert id="addGood">
        insert into tb_goods_shangp
        (
        name,
        title,
        description,
        state
        )VALUES (
        #{name},
        #{title},
        #{description}
        ,#{state}
        )
    </insert>

    <delete id="delGood">
        delete
        from
        tb_goods_shangp
        where
        spu_id=#{spuId}
    </delete>


    <insert id="addKuCun" >
        insert into tb_goods_kucun
        (
        name,images,shangp_id,stock,size,color,price
        )VALUES (
        #{name},#{images},#{shangpId},#{stock},#{size},#{color},#{price}
        )
    </insert>
    
    <select id="queryKuCunList" resultType="com.bdhlife.entity.KuCun">
        select
          sku_id as skuId,
          name as name ,
          images as images,
          shangp_id as shangpId,
          price as price ,
          stock as stock,
          size as size ,
          color as color
          from
            tb_goods_kucun
            <where>
                <if test="color != null and color != '' ">
                    and color = #{color}
                </if>
                <if test="size != null and size != '' ">
                    and size = #{size}
                </if>
                <if test="skuId != null and skuId != '' ">
                    and sku_id = #{skuId}
                </if>
                <if test="shangpId != null and shangpId != '' ">
                    and shangp_id = #{shangpId}
                </if>
            </where>
    </select>

    <delete id="delKuCun">
        delete
        from
        tb_goods_kucun
        where
        sku_id=#{skuId}
    </delete>

    <select id="findKuCunById">
        select
        sku_id as skuId,
        name as name ,
        images as images,
        shangp_id as shangpId,
        price as price ,
        stock as stock,
        size as size ,
        color as color
        from
        tb_goods_kucun
        where
        sku_id = #{skuId}
    </select>

</mapper>