<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdhlife.mapper.GoodsMapper">


    <select id="findGoodsList" resultType="com.bdhlife.entity.Goods">
        select
        spu_id as spuId,
        name as name,
        title as title,
        state as state,
        description as description,
        min_price as minPrice,
        max_price as maxPrice
        from
        tb_goods_shangp
        <where>
            <if test="goodsId != null and goodsId != '' ">
                and spu_id = #{spuId}
            </if>
        </where>
        order by spu_id desc
    </select>

    <insert id="addGood">
        insert into tb_goods_shangp
        (
        name,
        title,
        description,
        state,
        min_price,
        max_price
        )VALUES (
        #{name},
        #{title},
        #{description},
        #{state},
        #{minPrice},
        #{maxPrice}
        )
    </insert>

    <delete id="delGood">
        delete
        from
        tb_goods_shangp
        where
        spu_id=#{spuId}
    </delete>


    <insert id="addKuCun" >
        insert into tb_goods_kucun
        (
        name
        ,shangp_id
        ,stock
        ,size
        ,color
        ,price
        <if test="images != null and images != '' ">
            ,images
        </if>
        )VALUES (
        #{name}
        ,#{shangpId}
        ,#{stock}
        ,#{size}
        ,#{color}
        ,#{price}
        <if test="images != null and images != '' ">
            ,#{images}
        </if>
        )
    </insert>
    
    <select id="queryKuCunList" resultType="com.bdhlife.entity.KuCun">
        select
          sku_id as skuId,
          name as name ,
          images as images,
          shangp_id as shangpId,
          price as price ,
          stock as stock,
          size as size ,
          color as color
          from
            tb_goods_kucun
            <where>
                <if test="color != null and color != '' ">
                    and color = #{color}
                </if>
                <if test="size != null and size != '' ">
                    and size = #{size}
                </if>
                <if test="skuId != null and skuId != '' ">
                    and sku_id = #{skuId}
                </if>
                <if test="shangpId != null and shangpId != '' ">
                    and shangp_id = #{shangpId}
                </if>
            </where>
        <if test="groupColor">
            group by color
        </if>
        <if test="groupSize">
            group by size
        </if>
    </select>

    <delete id="delKuCun">
        delete
        from
        tb_goods_kucun
        where
        sku_id=#{skuId}
    </delete>

    <update id="updateKunCun">
        update
        tb_goods_kucun
        <set>
            <if test="name !=null and name != '' "> name = #{name},</if>
            <if test="images !=null and images != '' "> images = #{images},</if>
            <if test="shangpId !=null and shangpId != '' "> shangp_id = #{shangpId},</if>
            <if test="price !=null and price != '' "> price = #{price},</if>
            <if test="stock !=null and stock != '' "> stock = #{stock},</if>
            <if test="size !=null and size != '' "> size = #{size},</if>
            <if test="color !=null and color != '' "> color = #{color},</if>
        </set>
        WHERE
        sku_id = #{skuId}
    </update>

    <select id="findKuCunById"  resultType="com.bdhlife.entity.KuCun">
        select
        sku_id as skuId,
        name as name ,
        images as images,
        shangp_id as shangpId,
        price as price ,
        stock as stock,
        size as size ,
        color as color
        from
        tb_goods_kucun
        where
        sku_id = #{skuId}
    </select>

    <select id="findSize"  resultType="String">
        select
        size as size
        from
        tb_goods_kucun
        where
        shangp_id = #{shangpId}
        group by size
    </select>

    <select id="findColor"  resultType="String">
        select
        color as color
        from
        tb_goods_kucun
        where
        shangp_id = #{shangpId}
        group by color
    </select>

</mapper>