<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdhlife.mapper.WeChatUserMapper">

    <insert id="weChatUserLogin">
         insert into tb_shop_user
        (
        open_id,nick_name,sex,province,city,country,headimg_url
        )VALUES (
        #{openId},#{nickName},#{sex},#{province},#{city},#{country},#{headimgurl}
        )
    </insert>

    <select id="findUserByOpenId" resultType="com.bdhlife.entity.WeChatUser">
        select
        open_id as openId ,
        nick_name as nickName ,
        sex as sex ,
        province as province ,
        city as city ,
        country as country ,
        headimg_url as headimgurl
        from
        tb_shop_user
        where
        open_id = #{openId}
    </select>

    <select id="findUserList" resultType="com.bdhlife.entity.WeChatUser">
        select
        open_id as openId ,
        nick_name as nickName ,
        sex as sex ,
        province as province ,
        city as city ,
        country as country ,
        headimg_url as headimgurl
        from
        tb_shop_user
    </select>

</mapper>